/*
  Content Slider
*/

.slider {
  width: 75%;
  margin: 0 auto;
}

.slider .slider-content {
  overflow: hidden;
}

.slider .slider-content ul {
  position: relative;
}

.slider .slider-content ul li {
  float: left;
}
