.axis path,
.axis line {
  fill: none;
  stroke: #b6b6b6;
  shape-rendering: crispEdges;
}


/*
.tick line {
  fill: none;
  stroke: none;
}
*/

.tick text {
  fill: #999;
  font-size: 10px;
}

.label {
  fill: #999;
  font-size: 10px;
}
